<div class="row wrapper border-bottom white-bg page-heading" style="padding-top: 3px; padding-bottom: 0px;">
    <div class="col-lg-12">
        <h4><a routerLink="/inicio">Inicio</a> / Mantenimiento de Personal del Contratista / Mantenimiento de Personal
            <strong>Modificar Personal</strong></h4>
    </div>
</div>
<!-- <p>Form is {{registerForm.status}}</p>
<p>Form is {{registerForm.valid}}</p> -->
<!-- <pre>{{registerForm.value | json}}</pre> -->
<!-- <p>status: {{formularioDatosBasicos.f.fotoData.dirty}}</p>-->
<!-- <p>{{formularioDatosBasicos.indCambioFoto}}</p> -->
<!-- <p>{{formularioDatosBasicos.indCambioCV}}</p> -->

<form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row m-b-md">
            <div class="ibox-content" [class.sk-loading]="loading">
                <div class="row m-b-md">
                    <div class="col-md-4">
                        <button *ngIf="!indEstadoAltaPersonal" class="btn btn-primary container-button"><i
                                class="fa fa-check margin-right-10"></i><span>Guardar</span></button>
                        <button class="btn btn-gray-dark" (click)="regresar();"><i
                                class="fa fa-arrow-left margin-right-10"></i><span>Regresar</span></button>
                    </div>
                </div>
                <div class="row m-b-md">
                    <div class="col-lg-1">
                        <label class="control-label text-left">Contratista:</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" value="{{personal.contratista.descripcion}}"
                            disabled />
                    </div>
                </div>
                <div [@.disabled]="true">
                    <mat-tab-group>
                        <mat-tab label="Datos Básicos">
                            <app-formulario-datos-basicos formControlName="datosBasicos"></app-formulario-datos-basicos>
                        </mat-tab>
                        <mat-tab label="Datos de Planilla">
                            <app-formulario-datos-planilla formControlName="datosPlanilla">
                            </app-formulario-datos-planilla>
                        </mat-tab>
                        <mat-tab label="Datos de SEDAPAL">
                            <app-formulario-datos-sedapal formControlName="datosSedapal"></app-formulario-datos-sedapal>
                        </mat-tab>
                        <div *ngIf="indEstadoAltaPersonal">
                            <mat-tab label="Cambio de Cargo">
                                <app-formulario-cambio-cargo (listarSolicitudes)="listarSolicitudesCambioCargo()"
                                    [listaSolicitudes]="listaSolicitudesCambioCargo"
                                    (aprobarSolicitudEmit)="aprobarSolicitud($event)"
                                    (rechazarSolicitudEmit)="rechazarSolicitud($event)"></app-formulario-cambio-cargo>
                            </mat-tab>
                            <mat-tab label="Movimientos">
                                <app-formulario-movimiento-personal (listarSolicitudes)="listarSolicitudesMovimiento()"
                                    [listaSolicitudes]="listaSolicitudesMovimiento"
                                    (aprobarSolicitudEmit)="aprobarSolicitud($event)"
                                    (rechazarSolicitudEmit)="rechazarSolicitud($event)">
                                </app-formulario-movimiento-personal>
                            </mat-tab>
                        </div>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</form>
<swal #confirmacionGuardar type="question" title="¿Está seguro de actualizar los datos del personal seleccionado? "
    confirmButtonText="Sí " cancelButtonText="No " [showCancelButton]="true " [focusCancel]="false "
    (confirm)="guardar() " [allowOutsideClick]="true"></swal>
