.table {
    tr {
      th[data-col='primero'] {text-align: center; background:#efefef; border-right: 1px solid #77777745;}
      th[data-col='segundo'] {text-align: center; background:#efefef; border-right: 1px solid #77777745;}
      th[data-col='tercero'] {text-align: center; background:#efefef;}
      th[data-col='fecha'] {text-align: center; background:#efefef; border-right: 1px solid #77777745;vertical-align: middle;}
      th[data-col='carga'] {text-align: center; background:#efefef; border-right: 1px solid #77777745;vertical-align: middle;}
      th[data-col='oficina'] {text-align: center; background:#efefef; border-right: 1px solid #77777745;vertical-align: middle;}
    }
  }
  