<div style="display: block !important;">
    <div style="overflow-y: initial !important">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Resultados de la carga del Archivo de Ejecución</h4>
            <button type="button" class="close pull-right" aria-label="Close">
                <span aria-hidden="true" class="cerrar">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="height: 250px;overflow-y: auto;">
            <p style="white-space: pre-line">{{resultadoEjecucion}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="OnCerrar()">Cerrar</button>
        </div>
    </div>
</div>
