<div class="row">
        <div class="col-lg-12">
            <div class="ibox-content" style="padding: 7px">
                <div class="table-responsive">
                    <table class="table table-bordered table-stripped table-hover issue-tracker">
                        <thead>
                            <tr>
                                <th class="text-center">CÓDIGO</th>
                                <th class="text-center">SECUENCIA RECIBO</th>
                                <th class="text-center">LOTE RECIBO</th>
                                <th class="text-center">SUMINISTRO</th>
                                <th class="text-center">DIRECCIÓN</th>
                                <th class="text-center">LOCALIDAD</th>
                                <th class="text-center">DISTRITO</th>
                                <th class="text-center" *ngIf="itemCargaTrabajo.uidEstado != 'PE' && itemCargaTrabajo.uidEstado != 'AN' ">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let registro of listaItems; let indice = index">
                                <td class="text-center" data-col="codigoRegistro">{{registro.codigoRegistro}}</td>
                                <td class="text-center" data-col="secuenciaRecibo">{{registro.secuenciaRecibo}}</td>
                                <td class="text-center" data-col="secuenciaTrabajo">{{registro.secuenciaTrabajo}}</td>
                                <td class="text-center" data-col="campSuministro">{{registro.campSuministro}}</td>
                                <td data-col="direccion">{{registro.calle}} {{registro.nroPuerta}}</td>
                                <td data-col="representaLocalidad">{{registro.representaLocalidad}}</td>
                                <td class="text-center" data-col="representaMunicipio">{{registro.representaMunicipio}}</td>
                                <td class="text-center" *ngIf="itemCargaTrabajo.uidEstado != 'PE' && itemCargaTrabajo.uidEstado != 'AN' ">
                                  <button dropdownToggle type="button" class="btn btn-sm btn-success" [swal]="cargaArchivos" (click)="uidRegistro = registro.codigoRegistro">
                                      <i class="fa fa-paperclip icon"></i>
                                  </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row container-pagination">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <pagination [(ngModel)]="paginacion.pagina" (pageChanged)="OnPageChanged($event)" [totalItems]="paginacion.totalRegistros"
                            [itemsPerPage]="paginacion.registros" [boundaryLinks]="true" [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;"
                            firstText="&laquo;" lastText="&raquo;"></pagination>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="text-center m-a-sm">
                            <pagination-info [totalItems]="paginacion.totalRegistros" [itemsPerPage]="paginacion.registros" [page]="paginacion.pagina"></pagination-info>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="text-right m-a-sm">
                            <pagination-set (optionChanged)="OnPageOptionChanged($event)"></pagination-set>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <swal #cargaArchivos title="Carga de Archivos"
        customClass="carga-archivo-detalle-swal"
        [showCancelButton]="true"
        [showConfirmButton]="false"
        [focusCancel]="true"
        [allowOutsideClick]="false"
        confirmButtonText="Aceptar"
        cancelButtonText="Cerrar">
        <div *swalPartial>
            <app-carga-archivos-detalle [uidRegistro]="uidRegistro"></app-carga-archivos-detalle>
        </div>
    </swal>
