<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-sm table-condensed table-bordered table-stripped table-hover issue-tracker">
        <thead class="thead-dark">
          <tr>
            <th class="text-center small-text vertical-align">Código</th>
            <th class="text-center small-text vertical-align">Descripción</th>
            <th class="text-center small-text vertical-align">Tipo</th>
            <th class="text-center small-text vertical-align">Estado</th>
            <th class="text-center small-text vertical-align">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataCargos; let i = index">
            <td class="text-center small-text">{{ item.codigo }}</td>
            <td class="text-left small-text">{{ item.descripcionCargo }}</td>
            <td class="text-left small-text">{{ item.tipoCargo.descripcion }}</td>
            <td class="text-center small-text">
              <span [class]="item.estadoCargo.descripcion === getEstado().ACTIVO
                              ? 'label label-info'
                              : 'label label-warning'">{{ item.estadoCargo.descripcion }}</span>
            </td>
            <td class="text-center small-text">
              <button class="btn btn-warning btn-sm"
                      tooltip="Registrar Actividades"
                      (click)="onNavegarAsignarActividades(item)"
                      *ngIf="item.tipoCargo.descripcion === 'OPERATIVO'">
                <i class="fa fa-wrench"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="row" *ngIf="paginacion !== null && paginacion !== undefined">
  <div class="col-md-12 vertical-align">
    <div class="col-md-4 text-left">
      <pagination [(ngModel)]="paginacion.pagina"
                  [totalItems]="paginacion.totalRegistros"
                  [itemsPerPage]="paginacion.registros"
                  (pageChanged)="onCambioPagina($event)"
                  [boundaryLinks]="true" [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;"
                  firstText="&laquo;" lastText="&raquo;"></pagination>
    </div>
    <div class="col-md-4 text-center">
      <pagination-info [totalItems]="paginacion.totalRegistros"
                       [itemsPerPage]="paginacion.registros" [page]="paginacion.pagina"></pagination-info>
    </div>
    <div class="col-md-4 text-right">
      <pagination-set (optionChanged)="onCambioRegistros($event)"></pagination-set>
    </div>
  </div>
</div>
